.floating_button_container {
  position: fixed;
  bottom: -1px;
  right: 20px;
  z-index: 1;
}

.floating_button {
  background: transparent;
  background-image: url(https://i.postimg.cc/0jYYPhw5/click-removebg-preview.png);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  height: 150px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.instructions {
  position: fixed;
  bottom: 100px;
  right: 60px;
  background-color: #2abbab;
  outline: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

.instructions:before {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-color: #2abbab;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}

.instructions p {
  margin: 0;
  padding: 0;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #999;
  border: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
