.home_container {
  min-height: 100vh;
  /* background-image: url(https://i.postimg.cc/L6d7s16m/rick-and-morty-in-the-space-wallpaper-estatico.jpg); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
