.characters_list_container {
  width: 45%;
}
.characters_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  min-width: 500px;
  width: 100%;
}
.characters_list_title,
.second_title {
  color: white;
  font-size: 2rem;
  margin-bottom: 15px;
}
.second_title {
  text-align: end;
}
@media (max-width: 600px) {
  .characters_list_container {
    width: 80%;
    margin: 15px auto;
  }

  .characters_list {
    grid-template-columns: 1fr;
    min-width: auto;
  }
}
