.section_container {
  width: 30%;
  color: white;
  outline: 2px solid;
}
.section_container_header {
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
  padding: 5px;
}

.episode_information {
  padding: 2px;
  margin-left: 3px;
}
@media (max-width: 600px) {
  .section_container {
    width: 90%;
    margin: 15px auto;
  }
}
