.section_container {
  background: rgba(0, 0, 0, 0.596);
  padding: 10px;
  width: 30%;
  color: white;
}
.section_container_header {
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
}
