.paginator_container,
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background: white;
  border-radius: 5px;
}
.buttons {
  margin-top: 0;
  gap: 10px;
}
