.character_card_container {
  display: flex;
  align-items: end;
  border-radius: 5px;
  cursor: pointer;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.character_card_container:hover {
  animation: pulse 1s infinite;
}

.status_container {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input.radio_input {
  visibility: hidden;
}

input[type='radio']:checked + div {
  outline: 2px solid yellow;
  border: 8px solid black;
}

.image {
  overflow: hidden;
  width: 100%;
  min-height: 160px;
  display: table-cell;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.episodes_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
